.sidebar {
  color: white;
  height: 100rem;
  width: 20rem;
}
.bg {
  background-color: white;
  height: 100rem;
}
.menu-bar {
  height: 100rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
}
