.quiz-container {
  text-align: center;
  min-width: 250px;
  background: #ffffff;
  border-radius: 4px;
  margin-top: 50px;
  padding: 30px 60px;
}

input[type='radio']:after {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  top: -2px;
  left: -1px;
  position: relative;
  content: '';
  background-color: white;
  display: inline-block;
  visibility: visible;
  border: 2px solid #e7e7e7;
}

input[type='radio']:checked:after {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: black;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 15px;
  background: #ffffff;
  border: 3px solid #e7e7e7;
  border-radius: 10px;
  padding: 11px;
  margin-top: 15px;
  text-align: left;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: #ffffffeb;
  border: 3px solid #333333;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #800080;
  font-size: 22px;
}